<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    
    <title>twofac</title>

    <style>
      .container { margin-top: 1em; }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="five columns">
          <form action="secret/generate" method="POST">
            <label>Shared Secret</label>
            <input type="text" placeholder="..." name="sharedSecret">

            <input class="button-primary" type="submit" value="generate">
          </form>
        </div>
        <div class="seven columns">
          <p>
            Generate Steam-style <a href="https://tools.ietf.org/html/rfc6238">TOTP</a> 
            codes given a shared secret.</br>
            To be used for logging on to steam accounts with steam two factor 
            authentication without requiring you to have your phone at hand.
          </p>
        </div>

        <div class="twelve columns">
          <p>
            You can also <a href="signup">create an account</a>, allowing you to store an unlimited 
            amount of shared secrets and to instantly generate codes for all of them.<br>
            Existing user? <a href="login">Log in</a>.
          </p>

          <p>
            Find the code on <a href="https://github.com/LW2904/twofac">GitHub</a>.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
